doctype html
html
  head
    meta(charset="utf-8")
    title Wheel Animation
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="_css/normalize.css")
    link(rel="stylesheet", href="_css/style.css")

  body
    .wrap
      section.pn_title
        h1 Wheel Animation

      section.circle
        .box-content
          .award.bike
          .award.moto
        .line

    script(type="text/javascript", src="_js/jquery.js")
    script(type="text/javascript", src="_js/function.js")
